@model EasyTrain_P2Gr1.ViewModels.ClientViewModel
@{
    Layout = "_LayoutVisiteur";
}
@if (Model.Authentifie)
{
    <h3>
        Vous êtes déjà authentifié avec le login :
        @if (Model.Utilisateur != null)
        {
            @Model.Utilisateur.Nom
        }

    </h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
}
else
{
    <p>
        Veuillez vous authentifier :
    </p>
    using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Utilisateur.AdresseMail)
            @Html.TextBoxFor(m => m.Utilisateur.AdresseMail)
          
        </div>
        <div>
            @Html.LabelFor(m => m.Utilisateur.MotDePasse)
            @Html.PasswordFor(m => m.Utilisateur.MotDePasse)
        
        </div>
        <input type="submit" value="Se connecter" />
        <br />
        @Html.ActionLink("Créer un compte client", "CreerClient","Client")
    }
}