@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EasyTrain_P2Gr1.Models.Client

@{
    Layout = "_LayoutVisiteur";
}

@if (TempData.ContainsKey("Message"))
{
    <div class="message">@TempData["Message"]</div>
}

<div class="container" id="registration-form" style="height: 100vh; padding-top:10em">

    @using (Html.BeginForm("CreerClient", "Client", FormMethod.Post))
    { 
        <div class="cardeLoic">

            <div id="step1">
                <h2>Démarrez votre inscription  </h2>
                <h3>Sélectionnez vos services</h3>
                <div>
                    Nombre de cours
                    @Html.TextBoxFor(c => c.Abonnement.NbCours, new { @placeholder = "Nb Cours", @type = "number", @min = 0, @max = 10 })
                    <br />
                    @Html.LabelFor(c => c.Abonnement.AccesPiscine)
                    @Html.CheckBoxFor(c => c.Abonnement.AccesPiscine)
                    <br />
                    @Html.LabelFor(c => c.Abonnement.AccesEscalade)
                    @Html.CheckBoxFor(c => c.Abonnement.AccesEscalade)
                    <br />
                    @Html.LabelFor(c => c.Abonnement.AccompagenementCoach)
                    @Html.CheckBoxFor(c => c.Abonnement.AccompagenementCoach)
                </div>
                <button type="button" id="next-step">Étape suivante</button>
            </div>

            <div id="step2" style="display: none;">
                <h3>Renseignez vos informations</h3>

                <div class="fieldsetModifier">


                    @Html.Partial("_CreerUtilisateur")

                    <div class="btnCoachModifier">
                        <input type="submit" value="Confirmer" />
                        <button type="button" id="retour">Retour</button>
                    </div>

                </div>

            </div>
        </div>
    }

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#next-step").on("click", function () {
            $("#step1").slideUp("fast", function () {
                $("#step2").slideDown("fast");
            });
        });

        $(document).ready(function () {
            $("#retour").on("click", function () {
                $("#step2").slideUp("fast", function () {
                    $("#step1").slideDown("fast");
                });
            });
        })
    });
</script>

