@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EasyTrain_P2Gr1.ViewModels.InscriptionViewModel

@{
    Layout = "_LayoutVisiteur";
}

@if (TempData.ContainsKey("Message"))
{
    <div class="message">@TempData["Message"]</div>
}

<div class="container" style="height: 100vh; padding-top:7em">

    @using (Html.BeginForm("CreerClient", "Client", FormMethod.Post,new {id = "client_form"}))
    { 
       
        <div class="cardeLoic">

            <div id="step1">
                
                <h2>Démarrez votre inscription  </h2>
                <h3>Sélectionnez vos services</h3>
                <br>
                <br>
                <div>
                    Nombre de cours
                    @Html.TextBoxFor(c => c.NbCours, new { @placeholder = "Nb Cours", @type = "number", @min = 0, @max = 10 })
                    <br />
                    <br>
                    Accès à la Piscine
                    @Html.CheckBoxFor(c => c.AccesPiscine)
                    <br />
                    <br>
                    Accès à la salle d'escalade
                    @Html.CheckBoxFor(c => c.AccesEscalade)
                    <br />
                    <br>
                    Coaching personnalisé
                    @Html.CheckBoxFor(c => c.AccompagnementCoach)
                    <br>
                    <br>
                </div>
                <button type="button" id="next-step">Étape suivante</button>
            </div>

            <div id="step2" style="display: none;">
                <h3>Renseignez vos informations</h3>

                <div class="fieldsetModifier">


                <div class="tableModifier">
                    <table>
                        <tr>
                            <td>@Html.LabelFor(m => m.Prenom) </td>
                            <td>@Html.TextBoxFor(m => m.Prenom, new { @class = "InputText"}) </td>
                            <td>@Html.ValidationMessageFor(m => m.Prenom) </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Nom) </td>
                            <td>@Html.TextBoxFor(m => m.Nom, new { @class = "InputText"})  </td>
                            <td>@Html.ValidationMessageFor(m => m.Nom) </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.AdresseMail)</td>
                            <td>@Html.TextBoxFor(m => m.AdresseMail, new { @class = "InputText"}) </td>
                            <td>@Html.ValidationMessageFor(m => m.AdresseMail)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.DateNaissance) </td>
                            <td>@Html.TextBoxFor(m => m.DateNaissance, new { @type="date" })</td>
                            <td>@Html.ValidationMessageFor(m => m.DateNaissance) </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.MotDePasse) </td>
                            <td>@Html.PasswordFor(m => m.MotDePasse, new { @class = "InputText"}) </td>
                            <td>@Html.ValidationMessageFor(m => m.MotDePasse) </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.VerifMotDePasse) </td>
                            <td>@Html.PasswordFor(m => m.VerifMotDePasse, new { @class = "InputText"}) </td>
                            <td>@Html.ValidationMessageFor(m => m.VerifMotDePasse) </td>
                        </tr>
                    </table>
                </div>
                

                    <div class="btnCoachModifier">
                        <input type="submit" value="Confirmer" />
                        <button type="button" id="retour">Retour</button>
                    </div>

                </div>

            </div>
        </div>
        
    }

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#next-step").on("click", function () {
            $("#step1").slideUp("fast", function () {
                $("#step2").slideDown("fast");
            });
        });

        $(document).ready(function () {
            $("#retour").on("click", function () {
                $("#step2").slideUp("fast", function () {
                    $("#step1").slideDown("fast");
                });
            });
        })
    });
    $("#client_form").submit(function (e) {
        e.preventDefault();
    })
</script>

