@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EasyTrain_P2Gr1.Models.Client

@{
    Layout = "_LayoutClient";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/ModifierProfil.css">
</head>
<body>
    <main>
        @using (Html.BeginForm())
        {
            <div class="fieldsetModifier">
                <fieldset>
                    <legend><h2>Modifier le profil</h2></legend>
                    <div class="tableModifier">
                        <table>
                            <tr>
                                <td>@Html.LabelFor(m => m.Prenom) </td>
                                <td>@Html.TextBoxFor(m => m.Prenom) </td>
                                <td>@Html.ValidationMessageFor(m => m.Prenom) </td>
                            </tr>


                            <tr>
                                <td>@Html.LabelFor(m => m.Nom) </td>
                                <td> @Html.TextBoxFor(m => m.Nom)  </td>
                                <td>@Html.ValidationMessageFor(m => m.Nom) </td>
                            </tr>
                            <tr>
                                <td> @Html.LabelFor(m => m.DateNaissance) </td>
                                <td> @Html.TextBoxFor(m => m.DateNaissance) </td>
                                <td>@Html.ValidationMessageFor(m => m.DateNaissance) </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.MotDePasse) </td>
                                <td> @Html.TextBoxFor(m => m.MotDePasse) </td>
                                <td> @Html.ValidationMessageFor(m => m.MotDePasse) </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.VerifMotDePasse) </td>
                                <td> @Html.TextBoxFor(m => m.VerifMotDePasse) </td>
                                <td> @Html.ValidationMessageFor(m => m.VerifMotDePasse) </td>

                            </tr>

                        </table>
                    </div>

                    <button class="btnCoachModifier" onclick="window.location.href='/Coach/ListeCoach'">Modifier</button>


                    <td>@Html.HiddenFor(m => m.AdresseMail) </td>

                </fieldset>
            </div>
        }
    </main>
</body>
</html>