@model List<EasyTrain_P2Gr1.Models.Cours>
@{
    Layout = "_LayoutGestionnaire";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Liste des Cours</title>
    <link rel="stylesheet" href="~/css/Listes.css">
</head>
<body>
    <div class="container">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>NbParticipants</th>
            <th>Prix</th>
            <th>Coach</th>
            <th>Salle</th>
            <th>Suppression</th>

        </tr>
        </thead>
      
        @foreach (EasyTrain_P2Gr1.Models.Cours cours in Model)
        {
          <tbody>
        
            <tr>
                <td>@cours.Id</td>
                <td>@cours.Titre</td>
                <td>@cours.NbParticipants</td>
                <td>@cours.Prix</td>
                <td>@cours.Coach.Nom @cours.Coach.Prenom </td>
                <td>@cours.Salle.Nom</td>


                        <td><button class="btnlisteCoach" onclick="window.location.href='/cours/SupprimerCours'">Supprimer</button></td>

            </tr>
                </tbody>
        }
    </table>
</div>
    <button class="btnNouveauCours" onclick="window.location.href='/Cours/CreerCours'">Créer un nouveau cours</button>
</body>
</html>