@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EasyTrain_P2Gr1.ViewModels.FormulaireCoursProgrammeViewModel
@{
    Layout = "_LayoutCoach";
}


@using (Html.BeginForm())
{    <div class="container">
        <caption class="caption1"> Créer un cours Programmé </caption>
        <br>
    <table>
        
        <tr>
            <td>@Html.LabelFor(c => c.DateDebut)</td>
            <td>@Html.TextBoxFor(c => c.DateDebut)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.DateFin)</td>
            <td>@Html.TextBoxFor(c => c.DateFin)</td>
        </tr>

        <tr>
                <td>@Html.LabelFor(c => c.Cours)</td>
            <td> @Html.DropDownListFor(m => m.CoursId, new SelectList(Model.Cours, "Id", "Titre"))</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Cours)</td>
            <td> @Html.DropDownListFor(m => m.CoursId, new SelectList(Model.Cours, "Id", "Prix"))</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Cours)</td>
            <td> @Html.DropDownListFor(m => m.CoursId, new SelectList(Model.Cours, "Id", "Salle"))</td>
        </tr>
    </table>
    <br />
    <br />
    <input type="submit" value="Valider">
    </div>
}