@model List<EasyTrain_P2Gr1.Models.CoursProgramme>
@{
    Layout = "_LayoutCoach";
}

<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8" / >
<title > Liste des Cours programmés</title >


</head>
<body>

    <table border="4" class="center">

        <tr>
            <th>Id</th>
            <th>Date de debut</th>
            <th>Date de fin</th>
            <th>Places libres</th>
            <th>Cours</th>
            <th>Suppression</th>
            

        </tr>
        @foreach (EasyTrain_P2Gr1.Models.CoursProgramme coursProgramme in Model)
        {
            <tr>
                <td>@coursProgramme.Id</td>
                <td>@coursProgramme.DateDebut.ToString("dd/MM/yyyy")</td>
                <td>@coursProgramme.DateFin.ToString("dd/MM/yyyy")</td>
                <td>@coursProgramme.PlacesLibres</td>
                <td>@coursProgramme.Cours.Titre</td>
                <td><button class="btnRouge" 
                    onclick="window.location.href=
                    '/CoursProgramme/SupprimerCoursProgramme/@coursProgramme.Id'">
                    Supprimer</button></td>
            </tr>
        }
    </table>
    
    
</body>
</html>