@model List<EasyTrain_P2Gr1.Models.CoursProgramme>
@{
    Layout = "_LayoutCoach";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Liste des Cours programmés</title>
    <style>

        table {
            width: 900px;
           
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
        }

        th,
        td {
            padding: 15px;
            background-color: rgba(255,255,255,0.2);
        }

        th {
            text-align: left;
        }

        thead {
            th

        {
            background-color: #55608f;
        }

        }

        tbody {
            tr

        {
            &:hover

        {
            background-color: rgba(255,255,255,0.3);
        }

        }

        td {
            position: relative;
            &:hover

        {
            &:before

        {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -9999px;
            bottom: -9999px;
            background-color: rgba(255,255,255,0.2);
            z-index: -1;
        }

        }
        }
        }
    </style>

</head>
<body>
<<<<<<< HEAD
    <table class="mytable">
=======
    <table border="3">
>>>>>>> origin/main
        <tr>
            <th>Id</th>
            <th>Date de debut</th>
            <th>Date de fin</th>
            <th>Places libres</th>
            <th>Cours</th>
            

        </tr>
        @foreach (EasyTrain_P2Gr1.Models.CoursProgramme coursProgramme in Model)
        {
            <tr>
                <td>@coursProgramme.Id</td>
                <td>@coursProgramme.DateDebut.ToString("dd/MM/yyyy")</td>
                <td>@coursProgramme.DateFin.ToString("dd/MM/yyyy")</td>
                <td>@coursProgramme.PlacesLibres</td>
                <td>@coursProgramme.Cours.Titre</td>
                <td><button class="btnRouge" 
                    onclick="window.location.href='/CoursProgramme/SupprimerCoursProgramme/@coursProgramme.Id'">supprimer un cours</button></td>
            </tr>
        }
    </table>
    
    <button class="btnRouge" onclick="window.location.href='/CoursProgramme/CreerCoursProgramme'">planifier un cours</button>
    
</body>
</html>