@model List<EasyTrain_P2Gr1.Models.CoursProgramme>
@{
    Layout = "_LayoutCoach";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Liste des Cours programmés</title>
    <style>

        table {
            width: 900px;

            border-collapse: collapse;
            overflow: hidden;
           
           
        }
        .center {
            margin-left: auto;
            margin-right: auto;
        }

        .btnPlanifier {
            margin: 0;
            position: absolute;
            top: 85%;
            left: 50%;
            width: 150px; 
            height: 40px;
            background-color:lightsteelblue;
            color:black;
        }

        .btnRouge{
            
            background-color: beige;
            width:90px;
            height:25px;

        }

        th,
        td {
            padding: 15px;
            background-color: rgba(255,255,255,0.2);
            align-content:center;
        }

        th {
            text-align: left;
            background-color: lightsteelblue;

        }

        

        

        

       
    </style>

</head>
<body>

    <table border="4" class="center">

        <tr>
            <th>Id</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Places libres</th>
            <th>Cours</th>
            <th>Suppression</th>
            

        </tr>
        @foreach (EasyTrain_P2Gr1.Models.CoursProgramme coursProgramme in Model)
        {
            <tr>
                <td>@coursProgramme.Id</td>
                <td>@coursProgramme.DateDebut.ToString("dd/MM/yyyy")</td>
                <td>@coursProgramme.DateFin.ToString("dd/MM/yyyy")</td>
                <td>@coursProgramme.PlacesLibres</td>
                <td>@coursProgramme.Cours.Titre</td>
                <td><button class="btnRouge" 
                    onclick="window.location.href=
                    '/CoursProgramme/SupprimerCoursProgramme/@coursProgramme.Id'">
                    Supprimer</button></td>
            </tr>
        }
    </table>
    <button class="btnPlanifier"  onclick="window.location.href='/CoursProgramme/CreerCoursProgramme'">Planifier un cours</button>
    
</body>
</html>