@model List<EasyTrain_P2Gr1.Models.Reservation>
@{
    Layout = (string) ViewData["Layout"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Liste des Cours programmés</title>

    <link href="~/css/style.css" rel="stylesheet">
    

</head>
<body>
    <div class="container">
        <table class="tableauL">
            <tr>
                @if (ViewData["role"] == "Coach")
                {
                    <th>Client</th>
                }
                else if (ViewData["role"] == "Client")
                {
                    <th>Coach</th>

                }
                else if (ViewData["role"] == "Gestionnaire")
                {
                    <th>Client</th>
                    <th>Coach</th>

                }

                <th>Titre du cours</th>
                <th>Date du cours</th>
                <th>Supprimer la réservation</th>
                <th>Client</th>


            </tr>
            @foreach (EasyTrain_P2Gr1.Models.Reservation reservation in Model)
            {
                <tr>
                    @if (ViewData["role"] == "Coach")
                    {
                        <td>@reservation.Client.Prenom&nbsp;@reservation.Client.Nom</td>
                    }else if(ViewData["role"] == "Client")
                    {
                        <td>@reservation.CoursProgramme.Cours.Coach.Prenom&nbsp;@reservation.CoursProgramme.Cours.Coach.Nom</td>

                    }else if(ViewData["role"] == "Gestionnaire" ){
                        <td>@reservation.Client.Prenom&nbsp;@reservation.Client.Nom</td>

                        <td>@reservation.CoursProgramme.Cours.Coach.Prenom&nbsp;@reservation.CoursProgramme.Cours.Coach.Nom</td>

                    }

                    <td>@reservation.CoursProgramme.Cours.Titre</td>
                    <td>@reservation.CoursProgramme.DateDebut</td>
                    <td><button class="btnSuppression" onclick="window.location.href='/Reservation/SupprimerReservation/@reservation.Id'">Supprimer</button></td>
                    

                </tr>
            }
        </table>
        
    </div>
</body>
</html>