@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EasyTrain_P2Gr1.Models.Utilisateur
@{
}
<div class="tableModifier">
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Prenom) </td>
            <td>@Html.TextBoxFor(m => m.Prenom, new { @class = "InputText"}) </td>
            <td>@Html.ValidationMessageFor(m => m.Prenom) </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Nom) </td>
            <td>@Html.TextBoxFor(m => m.Nom, new { @class = "InputText"})  </td>
            <td>@Html.ValidationMessageFor(m => m.Nom) </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.AdresseMail)</td>
            <td>@Html.TextBoxFor(m => m.AdresseMail, new { @class = "InputText"}) </td>
            <td>@Html.ValidationMessageFor(m => m.AdresseMail)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.DateNaissance) </td>
            <td>@Html.TextBoxFor(m => m.DateNaissance, new { @type="date", @class = "InputText" })</td>
            <td>@Html.ValidationMessageFor(m => m.DateNaissance) </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.MotDePasse) </td>
            <td>@Html.PasswordFor(m => m.MotDePasse, new { @class = "InputText"}) </td>
            <td>@Html.ValidationMessageFor(m => m.MotDePasse) </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.VerifMotDePasse) </td>
            <td>@Html.PasswordFor(m => m.VerifMotDePasse, new { @class = "InputText"}) </td>
            <td>@Html.ValidationMessageFor(m => m.VerifMotDePasse) </td>
        </tr>
    </table>
</div>