@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EasyTrain_P2Gr1.Models.Utilisateur
@{
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Jeanleo.css">
</head>
<body>
    <main>
        <div class="tableProfil">
            <table>
               
                <tr>
                    <td>@Html.LabelFor(c => c.Nom)</td>
                    <td>@Html.DisplayFor(c => c.Nom)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Prenom)</td>
                    <td>@Html.DisplayFor(c => c.Prenom)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.DateNaissance)</td>
                    <td>@Model.DateNaissance.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.AdresseMail)</td>
                    <td>@Html.DisplayFor(c => c.AdresseMail)</td>
                </tr>
                
                <tr>
                    <td>@Html.LabelFor(c => c.DateCreationCompte)</td>
                    <td>@Model.DateCreationCompte.ToString("dd/MM/yyyy")</td>
                </tr>

            </table>
        </div>  
         
   </main> 
</body>
                    
</html>                  
                           
