@model EasyTrain_P2Gr1.Models.Coach
@{
}

<div class="tableModifier">
    <table>
        <tr>
            <td>
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.DateCreationCompte)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Nom)</td>
            <td>@Html.DisplayFor(c => c.Nom)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Prenom)</td>
            <td>@Html.DisplayFor(c => c.Prenom)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.DateNaissance)</td>
            <td>@Html.DisplayFor(c => c.DateNaissance)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.AdresseMail)</td>
            <td>@Html.DisplayFor(c => c.AdresseMail)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.MotDePasse)</td>
            <td>@Html.DisplayFor(c => c.MotDePasse)</td>
        </tr>
    </table>
</div>  