@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EasyTrain_P2Gr1.Models.Gestionnaire
@{
    Layout = "_LayoutCompte";
}
@Html.LabelFor(c => c.Nom)
@Html.DisplayFor(c => c.Nom)
<br />
@Html.LabelFor(c => c.Prenom)
@Html.DisplayFor(c => c.Prenom)
<br />
@Html.LabelFor(c => c.DateNaissance)
@Html.DisplayFor(c => c.DateNaissance)
<br />
@Html.LabelFor(c => c.AdresseMail)
@Html.DisplayFor(c => c.AdresseMail)
<br />
@Html.LabelFor(c => c.MotDePasse)
@Html.DisplayFor(c => c.MotDePasse)
<br />
@Html.LabelFor(c => c.DateCreationCompte)
@Html.DisplayFor(c => c.DateCreationCompte)
<br />
<button class="btnRouge" onclick="window.location.href='/Gestionnaire/ModifierGestionnaire'">Modifier</button>
<button class="btnRouge" onclick="window.location.href='/Gestionnaire/SupprimerGestionnaire'">Supprimer</button>