@model EasyTrain_P2Gr1.ViewModels.DashboardGestionnaireViewModel
@{
    Layout = "_LayoutGestionnaire";
    var equipementInfoList = Model.GetEquipementInfo();
}
<style>
    h3{
        margin-bottom:0.5em;
        font-weight:bold;
        font-size:2em;
    }
    .totalWidth{
        width:100vw;
        margin-top:2em;
        padding:2em
    }
    .scrollist{

        width:100%;
        height:90%;
        overflow:scroll;
    }
</style>

<div class=" container">
    <div class="ligne">
        <div class="col-5 " style="padding:1em">
            <div class="cardeFlatLoic espace_autour">
                <h3>Coachs</h3>

                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date d'inscription</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var coach in Model.Coachs)
                        {
                            <tr onclick="window.location.href='/coach/AfficherProfilCoach/@coach.Id'">
                                <td>@coach.Nom </td>
                                <td>@coach.Prenom</td>
                                <td>@coach.DateCreationCompte</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn btn-principal " onclick="window.location.href='/coach/ListeCoach'"> voir plus </a>
            </div>
        </div>
        <div class="card col-8 ">
            <div class="cardeLoic j espace_autour">
                <h3>Cours</h3>
               
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Salle</th>
                                <th>Durée</th>
                                <th>Participant</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cours in Model.Courses)
                            {
                                <tr>
                                    <td>@cours.Titre</td>
                                    <td>@cours.Salle</td>
                                    <td>@cours.DureeMinutes</td>
                                    <td>@cours.NbParticipants</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                
                    <a class="btn btn-principal" onclick="window.location.href='/Cours/ListeCours'"> voir plus </a>
                
                   
            </div>

            <div class="cardeLoic" style="margin-top:1em">
                <h3>Client</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Abonnement</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in Model.Clients)
                        {
                            <tr>
                                <td>@client.Nom</td>
                                <td>@client.Prenom</td>

                                @if (client.DeletedAt == null)
                                {
                                    <td>Actif</td>
                                }
                                else
                                {
                                    <td>in-Actif</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn btn-principal" onclick="window.location.href='/Client/ListeClient'"> voir plus </a>
            </div>
        </div>

        <div class="ligne espace_autour totalWidth">

            <h3>Equipements disponible</h3>
            <div class="ligne espace_autour">
                @foreach (var equipementInfo in equipementInfoList)
                {
                    <div style=" width:4em; margin:4em; text-align:center">
                        <h1 style="font-size:4em">
                            @equipementInfo.NombreInstances
                        </h1>
                        <a>
                            @equipementInfo.NomEquipement
                        </a>
                    </div>
                }
            </div>
        </div>


    </div>