@model EasyTrain_P2Gr1.ViewModels.DashboardViewModel
@{
    Layout = "_LayoutGestionnaire";
    var equipementInfoList = Model.GetEquipementInfo();
}

<div class=" container">






    <div class="card">
        @foreach (var coach in Model.Coachs)
        {
                <div class="ligne">
                    <a>@coach.Nom  @coach.Prenom</a> 
                </div>
        }
    </div>

    <div class="card">

        @foreach (var cours in Model.Courses)
        {
            <a>@cours.Titre</a>
        }

    </div>


    @foreach (var equipementInfo in equipementInfoList)
    {

        <h1>
            @equipementInfo.NombreInstances
        </h1>
        <a>
            @equipementInfo.NomEquipement
        </a>
    }

</div>