@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<EasyTrain_P2Gr1.Models.Coach>
@{
    Layout = "_LayoutCoach";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Liste des coachs</title>
    <link rel="stylesheet" href="/css/Sabrine.css">
</head>
<body>

    <div class="container">

        <table>
           

            <thead>

                <tr>


                    <th width="100">Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date de naissance</th>
                    <th>Adresse mail</th>
                  
                   

                </tr>
            </thead>



            @foreach (EasyTrain_P2Gr1.Models.Coach coach in Model)
            {
                <tbody>
                    <tr>
                        <td> @coach.Id </td>
                        <td>@coach.Nom</td>
                        <td>@coach.Prenom</td>
                        <td>@coach.DateNaissance</td>
                        <td>@coach.AdresseMail</td>
                   
                        
                    </tr>
                </tbody>
            }

        </table>
        <br />
        <button class="btnlisteCoach" onclick="window.location.href='/coach/ModifierCoach'">Modifier</button>
        <button class="btnlisteCoach" onclick="window.location.href='/coach/SupprimerCoach'">Supprimer</button>
    </div>



</body>
</html>