@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<EasyTrain_P2Gr1.Models.Coach>
@{
    @if (ViewData["role"].Equals("Coach"))
    {
        Layout = "_LayoutCoach";
    }
    else if (ViewData["role"].Equals("Gestionnaire"))
    {
        Layout = "_LayoutGestionnaire";
    }
    else
    {
        Layout = "_LayoutClient";
    }
}
<link rel="stylesheet" href="~/css/Jeanleo.css">
<div class="fieldsetModifier">
    <fieldset class="tableForm">
        <legend><h2>Les Coachs</h2></legend>
        <div class="tableModifier">
            <table>
                <tr>
                    <th width="100">Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Adresse mail</th>
                    <th></th>
                </tr>
                @foreach (EasyTrain_P2Gr1.Models.Coach coach in Model)
                {   
                    <tr>
                        <td> @coach.Id </td>
                        <td>@coach.Nom</td>
                        <td>@coach.Prenom</td>
                        <td>@coach.DateNaissance.ToString("dd/MM/yyyy")</td>
                        <td>@coach.AdresseMail</td>
                        <td>
                            <button class="btnStandard" onclick="window.location.href='/coach/GestionnaireModifierCoach/@coach.Id'">Modifier</button>
                            <button class="btnSuppression" onclick="window.location.href='/coach/GestionnaireSupprimerCoach/@coach.Id'">Supprimer</button>
                        </td>

                    </tr>
                }
                <tr>
                    <td><button onclick="window.location.href='/Coach/CreerCoach'" class="btnStandardbleu">Ajouter</button></td>
                </tr>

            </table>
        </div>
    </fieldset>
</div>
