@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<EasyTrain_P2Gr1.Models.Coach>
@{
    Layout = "_LayoutCoach";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Liste des coachs</title>
    <link rel="stylesheet" href="/css/Sabrine.css">
</head>
<body>
    <table class="mytable">


      <thead>

            <tr>

                <td>Id</td>
                <td>Nom</td>
                <td>Prenom</td>
                <td>Date de naissance</td>
                <td>Adresse mail</td>
                <td>Mot de passe</td>
                <td>Date d'embauche</td>

            </tr>
      </thead>
       
    

            @foreach (EasyTrain_P2Gr1.Models.Coach coach in Model)
            {
            <tbody>
                <tr>
                    <td>@coach.Id</td>
                    <td>@coach.Nom</td>
                    <td>@coach.Prenom</td>
                    <td>@coach.DateNaissance</td>
                    <td>@coach.AdresseMail</td>
                    <td>@coach.MotDePasse</td>
                    <td>@coach.DateCreationCompte.ToString("dd/MM/yyyy")</td>
                </tr>
            </tbody>
            }
     
       
    </table>
    <button class="btnlisteCoach" onclick="window.location.href='/coach/ModifierCoach'">Modifier</button>
    <button class="btnlisteCoach" onclick="window.location.href='/coach/SupprimerCoach'">Supprimer</button>


</body>
</html>