
@model EasyTrain_P2Gr1.Models.Coach
@{
    Layout = "_LayoutCoach";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/SupprimerProfil.css">
</head>
<body>
    <main>
@using (Html.BeginForm())
{  
    <div class="tableSupprimer">
        <table>
            <tr>
                        <td>@Html.LabelFor(c => c.Nom)</td>
                        <td>@Html.DisplayFor(c => c.Nom)</td>
            </tr>
                    <tr>
                        <td>@Html.LabelFor(c => c.Prenom)</td>
                        <td>@Html.DisplayFor(c => c.Prenom)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(c => c.DateNaissance)</td>
                        <td>@Html.DisplayFor(c => c.DateNaissance)</td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(c => c.AdresseMail)</td>
                        <td>@Html.DisplayFor(c => c.AdresseMail)</td>
                   </tr>
                   <tr>
                        <td>@Html.LabelFor(c => c.DateCreationCompte)</td>
                        <td>@Html.DisplayFor(c => c.DateCreationCompte)</td>
                    </tr>

                    
        </table>
        <br>
        <br>
                <td>@Html.HiddenFor(c => c.MotDePasse) </td>
    </div>
    
    
    <input type="submit" class="submitBoutton" value="Confirmer la supression" />
}
    </main>
</body>
</html>