@model EasyTrain_P2Gr1.ViewModels.ClientViewModel
@{
    Layout = "_LayoutVisiteur";
}

@if (Model.Authentifie)
{
    <div class="messageDeconnecter">
        <h2>
            Vous êtes déjà authentifié avec le login
            @if (Model.Utilisateur != null)
            {
                @Model.Utilisateur.Nom
            }
        </h2>
        <br>
        <br>
        <h2>
            @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
        </h2>
    </div>
}
else
{
    @using (Html.BeginForm())
    {
        <div class="fieldsetModifier">

            <fieldset>
                <legend><h2>Se connecter</h2></legend>
                <div class="tableModifier">
                    <table>
                        <tr>
                            <td>@Html.LabelFor(m => m.Utilisateur.AdresseMail)</td>
                            <td>@Html.TextBoxFor(m => m.Utilisateur.AdresseMail)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Utilisateur.MotDePasse)</td>
                            <td>@Html.PasswordFor(m => m.Utilisateur.MotDePasse)</td>
                        </tr>
                    </table>
                </div>

                <div class="btnSeConnecter">

                    <input type="submit" value="Se connecter" />
                </div>

                <br />
                @Html.ActionLink("Créer un compte client", "CreerClient","Client")

            </fieldset>
        </div>
    }
}

