@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EasyTrain_P2Gr1.Models.Presences;
@{
    Layout = "_LayoutCompte";
}
<main>
    @using (Html.BeginForm())
    {
        //-----------Formulaire Présence
        <fieldset>
            <legend>Modifier un cours : </legend>
            @Html.LabelFor(c => c.HeureArrivee)
            @Html.DisplayFor(c => c.HeureArrivee)
            @Html.ValidationMessageFor(m => Model.HeureArrivee)
            <br />
            @Html.LabelFor(c => c.HeureDepart)
            @Html.DisplayFor(c => c.HeureDepart)
            @Html.ValidationMessageFor(m => Model.HeureDepart)
            <br />
            @Html.LabelFor(c => c.Date)
            @Html.DisplayFor(c => c.Date)
            @Html.ValidationMessageFor(m => Model.Date)
            <br />
            @Html.LabelFor(m => Model.IdClient)
            <br />
            @Html.LabelFor(m => Model.Id)
            <br />
            <input type="submit" value="Modifier" />
        </fieldset>
    }
</main>