@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EasyTrain_P2Gr1.ViewModels.FormulaireCoursViewModel;
@{  
    Layout = "_LayoutGestionnaire";
}
<main>
    @using (Html.BeginForm())
    {
        //-----------Formulaire Cours
        <fieldset>
            <legend>Creer un cours : </legend>
            @Html.LabelFor(m => Model.Titre)
            @Html.TextBoxFor(m => Model.Titre)
            @Html.ValidationMessageFor(m => Model.Titre)
            <br />
            @Html.LabelFor(m => Model.NbParticipants)
            @Html.TextBoxFor(m => Model.NbParticipants)
            @Html.ValidationMessageFor(m => Model.NbParticipants)
            <br />
            @Html.LabelFor(m => Model.Prix)
            @Html.TextBoxFor(m => Model.Prix)
            @Html.ValidationMessageFor(m => Model.Prix)
            <br />
            @Html.LabelFor(m => m.Coachs) 
            @Html.DropDownListFor(m => m.CoachId, new SelectList(Model.Coachs, "Id", "Nom" ))
            @Html.ValidationMessageFor(m => Model.CoachId)
            <br />
            @Html.LabelFor(m => m.Salles)
            @Html.DropDownListFor(m => m.SalleId, new SelectList(Model.Salles, "Id", "Nom" ))
            @Html.ValidationMessageFor(m => Model.SalleId)
            <br /> 
            <input type="submit" value="Creer" />
        </fieldset>
    }
</main>
