@model myFirstDAL.Models.Sejour
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModifierLieu</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Modifier un Coach : </legend>
            @Html.LabelFor(m => Model.Nom)
            @Html.TextBoxFor(m => Model.Nom)
            @Html.ValidationMessageFor(m => Model.Nom)
            <br />
            @Html.LabelFor(m => Model.Prenom)
            @Html.TextBoxFor(m => Model.Prenom)
            @Html.ValidationMessageFor(m => Model.Prenom)
            <br />
            <input type="submit" value="Modifier" />
        </fieldset>
    }
</body>
</html>


