@model EasyTrain_P2Gr1.Models.Gestionnaire
@{
    Layout = "_LayoutCompte";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupprimerNom</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Supprimer un gestionnaire : </legend>
            @Html.LabelFor(m => Model.Prenom)
            @Html.TextBoxFor(m => Model.Prenom)
            @Html.ValidationMessageFor(m => Model.Prenom)
            <br />
            @Html.LabelFor(m => Model.Nom)
            @Html.TextBoxFor(m => Model.Nom)
            @Html.ValidationMessageFor(m => Model.Nom)
            <br />
            <input type="submit" value="Supprimer" />
        </fieldset>
    }
</body>
</html>



